<%- include('navLoggedIn.ejs'); %>

    <div class="content">
        <div class="center">

            <div class="comment">
                <div class="imgUser">
                    <a href="/perfil/avatar" class="edit">
                        <i data-feather="edit"></i>
                    </a>
                    <img src="/upload/<%= user.avatar%>">
                    <b><%= user.userName %></b>
                    <p><%= user.reputation %> pontos.</p>
                    <a href="/perfil/edit" class="link">Editar Perfil</a>
                    <a href="/perfil/delete" class="link" style="color: #F44336">Deletar Perfil</a>
                </div>
                <div>
                    <b>Postagens</b>
                    <hr>
                    <% if (posts.length > 0) { %>
                    <% posts.forEach(post => { %>
                        <div class="divpost">
                            <div class="post">
                                <a href="/posts/post/<%= post.id %>"><b><%= post.title %></b></a>
                                <p><%= post.date %></p>
                            </div>
                            <div class="actions">
                                <a href="/post/edit/<%= post.id %>">Editar</a>
                                <a href="/post/delete/<%= post.id %>">Excluir</a>
                            </div>
                        </div>
                    <% }) %>
                    <% } else { %>
                        <p>Ainda sem postagens</p>
                    <% } %>

                    <b>Comentários</b>
                    <hr>
                    <% if (comments.length > 0) { %>
                    <% comments.forEach(comment => { %>
                        <div class="divpost">
                            <div class="post">
                                <a href="/posts/post/<%= comment.post %>"><b><%= comment.content %></b></a>
                                <p><%= comment.date %></p>
                            </div>
                            <div class="actions">
                                <a href="/comment/edit/<%= comment.id %>">Editar</a>
                                <a href="/comment/delete/<%= comment.id %>">Excluir</a>
                            </div>
                        </div>
                    <% })%>
                    <% } else { %>
                        <p>Ainda sem comentários</p>
                    <% } %>

                </div>
            </div>
        </div>
    </div>

    <script>
        feather.replace()
    </script>
</body>
</html>