<% if (user) { %>
    <%- include('navLoggedIn.ejs'); %>
<% } else {%>
    <%- include('navDefault.ejs'); %>
<% } %>

    <div class="content">
        <div class="center">

            <div class="comment">
                <div class="imgUser">
                    <img src="/upload/<%= publicUser.avatar%>">
                    <b><%= publicUser.userName %></b>
                    <p><%= publicUser.reputation %> pontos.</p>
                </div>
                <div>
                    <b>Postagens</b>
                    <hr>
                    <% if (posts.length > 0) { %>
                    <% posts.forEach(post => { %>
                        <div class="divpost">
                            <div class="post">
                                <a href="/posts/post/<%= post.id %>" style="background-color: #0D1321;"><b><%= post.title %></b></a>
                                <p><%= post.date %></p>
                            </div>
                        </div>
                    <% }) %>
                    <% } else { %>
                        <p>Ainda sem postagens</p>
                    <% } %>

                    <b>Comentários</b>
                    <hr>
                    <% if (comments.length > 0) { %>
                    <% comments.forEach(comment => { %>
                        <div class="divpost">
                            <div class="post">
                                <a href="/posts/post/<%= comment.post %>"><b class="commenthiddenperfil"><%= comment.content %></b></a>
                                <p><%= comment.date %></p>
                            </div>
                        </div>
                    <% })%>
                    <% } else { %>
                        <p>Ainda sem comentários</p>
                    <% } %>

                </div>
            </div>
        </div>
    </div>

    <script>
        feather.replace()
    </script>
</body>
</html>