<% if (user) { %>
    <%- include('navLoggedIn.ejs'); %>
<% } else {%>
    <%- include('navDefault.ejs'); %>
<% } %>

    <div class="content">
        <div class="center">

            

            <details open>
                <summary>
                    <div>
                        <i data-feather="message-circle"></i>
                        <h3><%= topic.name %><h3>
                        </div>
                    </summary>
                    
                    <% if (user) { %>
                        <div class="headerespecifictop">
                            <a href="/post/create/<%= topic.id %>">
                                <i data-feather="plus"></i>
                                Post
                            </a>
                        </div>
                    <% } %>


                <% if (message) { %>
                    <p><label><%= message %></label></p>
                <% } %>

                <% posts.forEach( post => { %>
                    <li><a href="/posts/post/<%= post.id %>"><%= post.title %></a></li>
                <% }) %>

            </details>
            
           
        </div>
    </div>

    <script>
        feather.replace()
    </script>

</body>

</html>