<% if (user) { %>
    <%- include('navLoggedIn.ejs'); %>
<% } else {%>
    <%- include('navDefault.ejs'); %>
<% } %>

<div class="content">
    <div class="center">

        <hgroup>
            <h1 class="title"><%= post.title %></h1>

                <hr>

            <div>
                <% if ( post.user ) { %>
                    <div>
                        <img src="/upload/<%= post.user.avatar %>">
                        <p><%= post.user.userName %></p>
                    </div>
                <% } else { %>
                    <div>
                        <img src="/upload/userDeleted.png">
                        <p>Usuário Deletado</p>
                    </div>
                <% } %>
                <p><%= post.date %></p>

            </div>
            <hr>
        </hgroup>
        <div class="comment">
            <div class="imgUser">
                <% if ( post.user ) { %>
                    <img src="/upload/<%= post.user.avatar %>">
                    <b><%= post.user.userName %></b>
                <% } else { %>
                    <img src="/upload/userDeleted.png">
                    <b>Usuário Deletado</b>
                <% } %>
            </div>
            <div>
                <div class="infoUser">
                    <b><%= post.date %></b>
                    <% if ( post.user ) { %>
                        <span><%= post.user.reputation %> pontos</span>
                    <% } %>
                </div>
                <hr />
                <p><%= post.content %></p>
            </div>
        </div>

        <% if (message) { %>
            <p><%= message %></p>
        <% } %>

        <% if (comments) { %>
            <% comments.forEach( comment => { %>
                <div class="comment">
                    <div class="imgUser">
                        <% if ( comment.user ) { %>
                            <img src="/upload/<%= comment.user.avatar %>">
                            <b><%= comment.user.userName %></b>
                        <% } else { %>
                            <img src="/upload/userDeleted.png">
                            <b>Usuário Deletado</b>
                        <% } %>
                    </div>
                    <div>
                        <div class="infoUser">
                            <b><%= comment.date %></b>
                            <% if ( comment.user ) { %>
                                <span><%= comment.user.reputation %> pontos</span>
                            <% } %>
                        </div>
                        <hr />
                        <p style="white-space: pre-wrap"><%= comment.content %></p>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <p><%= message %></p>
        <% } %>

        <% if (user) { %>
        <form action="/comment/create/<%= user.id %>/<%= post.id %>" method="post">
            <!-- <input type="text" name="content" placeholder="Comente essa postagem"> -->
            <textarea name="content" class="textarea" placeholder="Comente essa postagem"></textarea>
            <button type="submit" class="btnComentar">
                Comentar
            </button>
        </form>
        <% } %>

    </div>
</div>

<script>
    feather.replace()
</script>

</body>

</html>